POSTGRESDB_USER=postgres
POSTGRESDB_PASSWORD=postgres
POSTGRESDB_DATABASE=database
POSTGRESDB_LOCAL_PORT=5432
POSTGRESDB_DOCKER_PORT=5432

NESTJS_APP_LOCAL_PORT=3000
NESTJS_APP_DOCKER_PORT=3000

SERVER_BASE_ASSETS_URL=http://localhost:3000/uploads
